<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>

    <%- include('navbar.html') %>

        <h4 class="container mt-4"><strong>글 작성페이지</strong></h4>

        <div class="container mt-3">
            <form action="/edit?_method=PUT" method="POST">
                <div class="form-group">
                    <label>To do</label>
                    <input type="text" value="<%= data._id %>" name="id" style="display: none;">
                    <input value="<%= data.title %>" type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input value="<%= data.date %>" type="text" class="form-control" name="date">
                </div>
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </form>
        </div>



</body>

</html>